body
{
	background: white;
	margin: 0px;
	padding: 0px;
}
#header
{
	background:#3e4e5e;
	height: 70px;
	position: fixed;
	top:0px;
	width: 100%;
	margin: 0px auto; 
}
#left-nav
{
	float: left;
}
ul li
{
	list-style-type:none;
	color: white; 
	text-decoration: none;
	letter-spacing: 3px;
	padding-top: 5px;
	font-family: 'Fredoka One', cursive;
    font-family: 'Oleo Script', cursive;
    padding-right: 10px;
	font-size: 35px;

}
#right-nav
{
	float: right;
}

ul li a
{
	color: white;
	padding-top: 2px;
	padding-right:20px;
	text-decoration: none; 

}
a:hover
{
	color:yellow;

}
.navbar
{
	margin-top: 70px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 100vh;
	background: #ff6700;
	display: flex;
	flex-direction:column;
    

}
.navbar .items
{
	border-style: double;
	text-align: center;
	display: flex;
	justify-content:center;
	flex-direction:column;
	padding-top: 25px;
	padding-bottom: 20px;


}
.navbar .items .label a
{
	text-decoration: none;
	color: white;
	font-family: 'Fredoka One', cursive;
    font-family: 'Oleo Script', cursive;
    font-family: 'El Messiri', sans-serif;
    color: white;
	position: relative;
	top: 2px;
	font-size: 20px;
	cursor: pointer;

}
.navbar .items .label a:hover
{
	color: #112233;
}
